.side
  .side__header
    .side__header--logo
      seo
    .side__header--font-awesome
      .side__header--font-awesome--edit
        =link_to "#"
        = icon('fas fa-edit','edit-square')
      .side__header--font-awesome--gear
        =link_to "#"
        = icon('fas','cog')

  .side__contents
    .side__contents--title
      sample
    .side__contents--text
      Good bye world!
    