.wrapper{
  display:flex;
  justify-content:flex-start;
  .side{
    &__header{
      padding-left:20px;
      background-color:#253141;
      width:300px;
      height:100px;
      display:flex;
      justify-content: space-between;
      &--logo{
        padding-top:40px;
        color:#FFFFFF;
        font-weight:bold;
        font-size:16px;
      }
      &--font-awesome{
        display:flex;
        justify-content: space-between;
        padding-top:40px;
        padding-right:20px;
        color:#FFFFFF;
      }
    }
    &__contents{
      padding-left:20px;
      height:calc(100vh - 100px);
      background-color:#2f3e51;
      &--title{
        padding-top:20px;
        padding-bottom:10px;
        color:#FFFFFF;
        font-weight:bold;
        font-size:15px;
      }
      &--text{
        margin-bottom:40px;
        color:#FFFFFF;
        font-weight:bold;
        font-size:11px;
      }
    }
  }

  .main{
    width:calc(100vw - 300px);
    &__header{
      padding-left:40px;
      display:flex;
      justify-content: space-between;
      height:100px;
      border-bottom:1px solid #eeeeee;
      &__group{
        &--name{
          color:#333333;
          font-size:20px;
          margin-top:35px;
          margin-bottom:15px;
      }
        &--member{
          color:#999999;
          font-size:12px;
          &--member--name{
      }
      }
      }
      &__edit{
        color:skyblue;
        border: 1px solid skyblue;
        margin-top:28px;
        margin-right:40px;
        margin-bottom:20px;
        padding:15px 20px;
        text-align:center;
      }
    }
    &__contents{
      background-color:#fafafa;
      padding-left:40px;
      height:490px;
      &__bar{
        display:flex;
        flex-direction: row;
        &--user{
          margin-top:46px;
          margin-bottom:10px;
          margin-right:10px;
        }
        &--time{
          font-size:12px;
          color:#999999;
          margin-top:46px;
          margin-bottom:10px;
        }
      }
      &__message{
        font-size:14px;
        color:#434A54
      }
    }
    &__form{
      height:60px;
      padding:20px 40px;
      background-color:#DDDDDD;
      display:flex;
      justify-content: space-between;
      &__text{
        .form__text{
          font-size:16px;
          position:absolute;
          padding-left:10px;
          width:640px;
          height:50px;
        }
        &--image{
          padding-top:10px;
          padding-left:610px;
          position:relative;
          &--type{
            display: none;
          }
        }
    }
      &__send{
        color:white;
        background-color:#38AEF0;
        padding-top:15px;
        padding-left:30px;
        padding-right:30px;
        padding-bottom:10px;
        margin-bottom:10px;
      }
    }
  }
}